{{!--  --}}
{{!--  --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/404.css">
    <title>Page 404</title>
</head>

<body>
    <div class="container py-auto">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>Oops!</h1>
                    <h2>404 Not Found</h2>
                    <div class="error-details">
                        Sorry, an error has occured, Requested page not found.
                    </div>
                    <div class="error-actions">
                        <a href="/" class="btn btn-primary btn-lg"><i class="fas fa-home"></i> Take Me Home</a>
                        <a href="" class="btn btn-success btn-lg"><i class="fas fa-envelope"></i> Contact Support</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>