{{!--  --}}
{{!--  --}}
<div class="container my-5">
    <div class="row">
        <div class="col-md-5 mx-auto text-center">
            <div class="card">
                <div class="card-body bg-dark">
                    <h4 class="py-2">Welcome {{ user.name }}</h4>
                    <a class="btn btn-primary" href="/link">create a new link</a>
                </div>
            </div>
        </div>
    </div>
</div>